.clock {
  grid-area: clock;
  justify-self: flex-end;
  align-self: flex-end;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;

  .status {
    display: inline-block;
    width: 10px;
    aspect-ratio: 1/1;

    &--working {
      background-color: rgb(4, 83, 4);
      animation: blink 1s infinite;
    }

    &--resting {
      border-radius: 100%;
      background-color: rgb(240, 117, 117);
    }
  }
}
