.clock {
  grid-area: clock;
  justify-self: flex-end;
  align-self: flex-end;
  z-index: 200;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;

  .time {
    visibility: hidden;
    font-weight: 400;
  }

  .status {
    display: inline-block;
    width: 10px;
    aspect-ratio: 1/1;
    visibility: hidden;

    &--working {
      background-color: var(--status-indicator-color);
      animation: blink 1s infinite;
    }

    &--resting {
      border-radius: 100%;
      background-color: orange;
    }
  }
}
