.logo {
  justify-self: flex-start;
  align-self: flex-start;
  grid-area: logo;
  position: relative;
  overflow: hidden;
   z-index: 200;
  padding: 2rem;

  span {
    display: block;
    font-size: 1rem;
    visibility: hidden;
    font-weight: 500;
  }
}
