.project-info {
  align-self: flex-end;
  width: 250px;
  position: relative;
  margin-top: 2rem;

  @media (max-width: 450px) {
    margin-top: 0rem;
  }

  .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;
    aspect-ratio: 3/2;
    display: flex;
    flex-wrap: wrap;
    word-wrap: normal;

    .description {
      text-align: right;
      font-size: var(--fs-400);

      @media (max-width: 450px) {
        text-align: left;
        padding-top: 2rem;
      }
    }
  }
}
