.project-list {
  grid-area: project-list;
  width: fit-content;
  justify-self: flex-end;

  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 200;
  padding: 2rem;

  .heading {
    font-weight: 600;
    text-align: right;
    margin-bottom: 1rem;
    visibility: hidden;
  }

  ul {
    list-style: none;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;

    li {
      visibility: hidden;

      a {
        text-decoration: none;
        color: inherit;
        position: relative;
        font-weight: 400;
      }

      &:hover a {
        &:before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          height: 0.125rem;
          width: 0;
          background-color: var(--text-color);
          transform-origin: right;
          animation: slideIn 0.5s ease-in-out forwards;
        }
      }
    }
  }
}
