:root {
  --data-index: 1;
}

.theme-switcher {
  grid-area: theme-switcher;
  justify-self: flex-end;

  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: min(100% - 1rem, 350px);
  cursor: pointer;

  &:hover &__switch {
    transform: translateX(calc(35% * (var(--data-index))));
  }

  &__switch {
    cursor: pointer;
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    outline: none;
    border: none;
    transform: translateX(calc(70% * (var(--data-index))));
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      border: 3px dotted var(--outline-color);
    }

    &--active {
      border: 3px solid var(--outline-color);

      &:hover {
        border: 3px solid var(--outline-color);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30%;
      aspect-ratio: 1/1;
      border-radius: 100%;
      background-color: black;
      translate: -50% -50%;
    }

    &--light {
      background-color: #e8e8e8;
    }

    &--green {
      background-color: #4a5a3d;
    }

    &--orange {
      background-color: orange;
    }

    &--spring-green {
      background-color: #157485;
    }
  }
}
